@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* to make mental math easier so 1rem = 10px */
  font-size: 62.5%;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  scroll-margin-top: 5rem;
}

.arrow-up {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 5rem;
  height: 5rem;
  background-color: #480ca8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.arrow-up:hover {
  background-color: #fc5185;
}
.arrow-up:active {
  transform: scale(0.95);
}

.arrow-up i {
  color: #fff;
  font-size: 2.4rem;
}

.flexing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

header {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #fff;
  padding: 2rem 3.5rem;
  position: fixed;
  width: 100vw;
  height: auto;
}

header h1 {
  font-size: 3.5rem;
}
header li {
  list-style: none;
}

header .menu-icon,
header .close-icon {
  display: none;
}

header.window-scroll {
  background: #fff;
}
header.window-scroll h1 {
  color: #0c031b;
}

header.window-scroll a {
  color: #0c031b;
}
header.window-scroll #booking {
  background-color: #480ca8;
  color: #fff;
  transition: all 0.2s ease-in;
}
header.window-scroll #booking:hover {
  background-color: #fc5185;
  /* color: #fff; */
}

#booking {
  background-color: #fc5185;
  color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}

a {
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-size: 1.5rem;
}

a:focus {
  outline: none;
}

main img {
  width: 50%;
  display: block;
}

main {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  padding: 10rem 3.5rem 0;
  color: #fff;
}

.intro {
  width: 50%;
  line-height: 1.5;
}

.intro h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.intro #nextgenmed {
  font-size: inherit;
  display: inline;
  color: #fc5185;
}
.intro p {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.intro button {
  background-color: #fc5185;
  color: #fff;
  border: none;
  font-family: inherit;
  padding: 1.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  width: auto;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.bg {
  background: rgba(76, 201, 240, 0.1);
}

.dim-dark-color {
  color: rgba(12, 3, 27, 0.7);
}
.about_us {
  flex-direction: row-reverse !important;
}

.padding {
  padding: 5rem 3.5rem 0;
}

.about_us,
.gallery,
.services,
.testimonials,
.book_appointment {
  width: 100%;
}

.about_us h2,
.services h2,
.testimonials h2,
.gallery h2,
.book_appointment h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.about_us p,
.services p {
  font-size: 1.7rem;
  line-height: 1.7;
}

.about_us #about_us_content {
  width: 50%;
}

.about_us img {
  display: inline-block;
  width: 50%;
  object-fit: cover;
  height: 85vh;
  border-radius: 10px;
}

.services h2,
.gallery h2,
.testimonials h2,
.book_appointment h2 {
  text-align: center;
}

.services > p {
  font-size: 1.5rem;
  text-align: center;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.services .container article {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  box-shadow: 0 0 20px rgba(76, 201, 240, 0.5);
  flex-direction: column;
  gap: 1.5rem;
  /* height: fit-content; */
  transition: all 0.2s ease-in;
}
.services .container article:hover {
  background: #fc5185;
}
.services .container article h3 {
  font-size: 2rem;
}
.services .container article p {
  font-size: 1.5rem;
}
.gallery .gallery-grid {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  place-items: center;
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 1rem;
}

.gallery .gallery-grid #gallery-image-4 {
  grid-column: span 2;
  /* grid-row: span 2; */
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-track {
  height: 100%;
  /* position: relative; */
  margin: auto;
  padding: 3.5rem;
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
}

.testimonial {
  display: none;
  margin-top: 2rem;
}
.testimonial blockquote {
  font-size: 1.8rem;
  line-height: 1.6;
  font-style: italic;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

.testimonials footer {
  color: #f2f2f2;
  font-size: 1.5rem;
  margin-top: 1rem;
  /* padding: 0.8rem 1.2rem;
  position: absolute;
  bottom: 0; */
  /* width: 100%; */
  text-align: center;
}

/* .dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
} */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.book_appointment {
  padding-bottom: 5rem;
  width: 100%;
}

.book_appointment textarea {
  resize: none;
}

.book_appointment .book-container {
  flex-direction: row-reverse;
  margin-top: 3rem;
  align-items: flex-start;
}

.book_appointment .form-container {
  width: 50%;
}

.book_appointment img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
  /* height: 100vh; */
}

.book_appointment label {
  font-size: 1.7rem;
  color: #0c031bcf;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
  font-size: 1.45rem;
}

input[type="submit"] {
  font-family: "Montserrat", sans-serif;
  background-color: #480ca8;
  color: white;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  transition: all 0.2s ease-in;
}

input[type="submit"]:hover {
  background-color: #fc5185;
}

/* ------------The Footer Section----------- */

.footer {
  background: #0c031b;
  color: #fff;
  padding: 5rem 3.5rem;
}
.footer .first a {
  color: #fc5185;
}
.footer--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.second a,
.third a {
  transition: all 0.2 ease-in;
}

.second a:hover,
.third a:hover {
  /* text-decoration: underline;  */
  color: #fc5185;
}

.footer li {
  list-style: none;
  font-size: 1.3rem;
  /* margin-top: 1.2rem;
  margin-right: 2.3rem; */
  padding: 1rem;
}

.fourth .icon {
  font-size: 1.5rem;
  border: 1px solid #fc5185;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
}

/* .icon:hover {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
} */
.footer p {
  font-size: 1.2rem;
  margin-top: 10rem;
}

/* -----------End of the Footer Section-------------- */

/* Media Queries */

@media screen and (max-width: 1110px) {
  .footer--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .footer--column .icons {
    margin-top: 6rem;
  }

  .footer--column .icon {
    font-size: 3rem;
  }
  .footer--column .first {
    width: 100%;
  }

  .footer--column li {
    font-size: 1.65rem;
  }

  .footer--column p {
    font-size: 1.6rem;
    text-align: center;
  }
  .footer--column .fourth {
    text-align: center;
    width: 100%;
  }

  .gallery .gallery-grid {
    grid-template-columns: repeat(2, auto);
  }
  .gallery .gallery-grid #gallery-image-1,
  .gallery .gallery-grid #gallery-image-2,
  .gallery .gallery-grid #gallery-image-3,
  .gallery .gallery-grid #gallery-image-5 {
    grid-column: span 2;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  h2{
    font-size: 2.8rem !important;  }
  .padding {
    padding: 5rem 2rem 0;
  }
  header {
    padding: 2rem 2rem;
  }
  main {
    padding: 10rem 2rem 0;
  }
  header .menu-icon,
  .header .close-icon {
    display: block;
  }
  header.window-scroll .menu-icon {
    color: #480ca8;
  }

  header .menu-content {
    display: none;
  }
  .mobile-header {
    flex-direction: row !important;
  }
  .mobile-header .menu-icon i {
    font-size: 3.5rem;
    cursor: pointer;
  }

  .flexing {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  main img,
  .intro {
    width: 100%;
  }

  .about_us #about_us_content,
  .about_us img,
  .book_appointment .form-container,
  .book_appointment img {
    width: 100%;
  }

  .about_us {
    flex-direction: column !important;
    text-align: left;
  }
  .about_us h2 {
    text-align: center;
  }
  .about_us img {
    height: auto;
  }

  .services .container {
    grid-template-columns: 1fr;
  }

  .gallery .gallery-grid {
    grid-template-columns: repeat(1, auto);
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  .testimonials {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .testimonials h2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .carousel-track {
    padding: 1.5rem;
  }

  .testimonial blockquote {
    padding: 1.5rem;
  }
  .book_appointment .book-container {
    flex-direction: column !important;
    text-align: left;
    gap: 3rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
  }
}
